{#
/**
 * @file
 * Theme show the content alert in the modal.
 *
 * Available variables:
 * - data: List of messages.
 * 
 */
#}

{% if data is not empty %}
  <div class="modal fade open" id="myModal" role="dialog" >
{% else %}
    <div class="modal fade in" id="myModal" role="dialog" >
{% endif %}
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Content Created on site</h4>
        </div>
        <div class="modal-body">
          {{ data | raw }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
  

